@model IEnumerable<CRUD.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="CRUD-container">
    <div style="padding-left:15px">
        <h1>Книги</h1>
        <div><a class="btn btn-primary mt-4 mb-1" role="button" asp-action="Create">Добавить Книгу</a></div>
    </div>
    <div class="col pt-4">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Номер книги
                    </th>
                    <th>
                        Название книги
                    </th>
                    <th>
                        Автор
                    </th>
                    <th>
                        Количество страниц
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPages)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
